.top-stle{
    margin-left: 250px;
    background-color: rgb(58, 58, 58);
}
.name-cont{
    margin: 0.6rem;
    color: rgb(228, 228, 228);
    margin-right: 2rem;
}
.ver-line{
    width: 1px;
    background-color: rgb(228, 228, 228);
}