
.div-style{
	min-height: 100vh !important;
	height: unset !important;
	position: relative;
}
.inner-div{

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 10px 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
width: 1000px;
height: 560px;
}
.-container{
	border-radius: 15px 50px 30px 5px;
	
}
.logo-img{
	width: 120px;
	height: 120px;
}
/* input[type=email]:focus:not([readonly]) + label {
	color: green; 
}

input[type=text]:focus:not([readonly]) {
	border-bottom: 1px solid green;
	box-shadow: 0 1px 0 0 green; 
} */