.profile-container{
margin-top: 6rem;
padding: 4rem;
}
.pro-cont{
    border: 1px solid rgb(221, 219, 219);
    border-top: 2px solid black;
}
.pro-header-container{
    height: 50px;
    width: 150px;
    background-color: black;
    text-align: center;
    justify-content: center;
    color: white;
    font-size: 0.9rem;
  padding-top: 0.9rem;
  text-transform: uppercase;
}
.up-header-container{
  height: 50px;
  width: 150px;
  background-color: #ffb100;
  text-align: center;
  justify-content: center;
  color: white;
  font-size: 0.9rem;
padding-top: 0.9rem;
text-transform: uppercase;
}